{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% if title %}{{title}}{% else %}{{ company }}{% endif %}{% endblock %}

{% block content %}
  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>{% trans "Contact" %}</h2>
      <p><span>{% trans "Need Help?" %}</span> <span class="description-title">{% trans "Contact Us" %}</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-5">

          <div class="info-wrap">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>{% trans "Address" %}</h3>
                <p>{{ address | safe }}</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>{% trans "Call Us" %}</h3>
                <p>{{ phone }}</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>{% trans "Email Us" %}</h3>
                <p>{{ email }}</p>
              </div>
            </div><!-- End Info Item -->

           

            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.3341235796483!2d28.1975399!3d-25.748953099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9562197c26d0b3%3A0xf27c267d9030238a!2s395%20Francis%20Baard%20St%2C%20Pretoria%20Central%2C%20Pretoria%2C%200001!5e1!3m2!1sen!2sza!4v1744018291619!5m2!1sen!2sza" 
                  frameborder="0" style="border:0; width: 100%; height: 270px;" 
                  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>
        </div>

        <div class="col-lg-7">
          <form action="/send-email" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <label for="name-field" class="pb-2">{% trans "Your Name" %}</label>
                <input type="text" name="name" id="name-field" class="form-control" required="">
              </div>

              <div class="col-md-6">
                <label for="email-field" class="pb-2">{% trans "Your Email" %}</label>
                <input type="email" class="form-control" name="email" id="email-field" required="">
              </div>

              <div class="col-md-12">
                <label for="subject-field" class="pb-2">{% trans "Subject" %}</label>
                <input type="text" class="form-control" name="subject" id="subject-field" required="">
              </div>

              <div class="col-md-12">
                <label for="message-field" class="pb-2">{% trans "Message" %}</label>
                <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">{% trans "Loading" %}</div>
                <div class="error-message"></div>
                <div class="sent-message">{% trans "Your message has been sent. Thank you!" %}</div>

                <button type="submit">{% trans "Send Message" %}</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->
{% endblock %}

