{% extends 'base.html' %}

{% block title %}{% if title %}{{title}}{% else %}Thrift Experiences{% endif %}{% endblock %}

{% block content %}



    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{{ title }}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">{{ title }}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p><span>Check Our</span> <span class="description-title">Services</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Spiritual Ministries</h3>
              </a>
              <p>
                Strengthening spiritual growth and connection with God.

Sabbath Worship Services

Sabbath School (all age groups)

Divine Worship

Afternoon Bible Discussions

Prayer & Fasting Programs

Bible Studies & Baptismal Classes

Evangelistic Campaigns (in-person and online)

Spiritual Counseling & Pastoral Care
              </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Community Outreach</h3>
              </a>
              <p>Serving our neighbors with love and compassion.

                Food Distribution & Soup Kitchen
                
                Clothing & Blanket Drives
                
                Community Clean-up Campaigns
                
                Support for Orphans & Vulnerable Children
                
                Elderly & Home-bound Member Visitation
                
                Disaster Relief Services</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Education & Academic Support</h3>
              </a>
              <p>Empowering minds through Christ-centered learning.

                Tutoring Services (all grades and subjects)
                
                Study Skills & Exam Prep Workshops
                
                Sabbath School for Children & Adults
                
                Pathfinder & Adventurer Clubs
                
                Teacher Training & Staff Development
                
                Life Skills Courses (IT, sewing, cooking, etc.)</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Health & Wellness Services</h3>
              </a>
              <p>Caring for the body, mind, and soul.

                Free Health Screenings & Clinics
                
                Health & Temperance Seminars
                
                Mental Health Counseling
                
                Fitness & Lifestyle Programs (walkathons, exercise groups)
                
                Substance Abuse & Addiction Recovery Support</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Youth & Family Ministries</h3>
              </a>
              <p>Developing strong families and God-fearing youth.

                Youth Leadership & Mentorship Programs
                
                Family Enrichment Seminars
                
                Parenting Workshops
                
                Marriage Counseling & Retreats
                
                Children’s Ministry Activities
                
                Youth Empowerment Events & Talent Showcases</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Digital & Media Evangelism</h3>
              </a>
              <p>
                Spreading the gospel through technology and creativity.

                Online Worship Services & Bible Studies

                Social Media Outreach & Digital Devotionals

                Podcast & Radio Ministry

                Multimedia Content Creation

                Christian Literature Distribution


              </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Economic Empowerment</h3>
              </a>
              <p>Equipping members for sustainable livelihoods.

                Financial Literacy Seminars
                
                Entrepreneurship & Small Business Training
                
                Job Readiness & CV Writing Workshops
                
                Business Mentorship & Incubation</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Music & Creative Arts</h3>
              </a>
              <p>Using talent to glorify God and inspire others.

                Church Choirs & Music Groups
                
                Instrument & Vocal Training Classes
                
                Drama & Creative Arts Ministry
                
                Youth Gospel Concerts & Performances</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Feeding souls and stomachs</h3>
              </a>
              <p>This outreach initiative ensures that no one in our community goes hungry. Through scheduled food deliveries and mobile pantry services, Food on Wills brings nutritious meals and groceries directly to the marginalized.</p>
            </div>
          </div><!-- End Service Item -->

         
        </div>

      </div>

    </section><!-- /Services Section -->

{% endblock %}

